.hotposts-container {
  position: absolute; /* 절대 위치 설정 */
  z-index: -10000;
  top: 5%; /* 상단에서 0px 위치 */
  right: 3%; /* 오른쪽 가장자리에서 5% 위치 */
  width: 25vw; /* 반응형 너비, 필요에 따라 조정 */
  max-width: 500px; /* 최대 너비 */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9DC3C1;
  margin: auto;
  color: #ffffff;
  background-color: #272625; /* 배경색 설정 */
}

.tabs-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #272625; 
  color: #ffffff;
  font-size: 17px; /* 텍스트 크기 */
  font-weight: 600; /* 텍스트 굵기 */
}

.tab-button {
  flex-grow: 1;
  width: 33.33%; /* 각 버튼을 동일한 너비로 설정 */
  border: 1px solid #9DC3C1;
  background-color: #272625; /* 버튼 배경색 */
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  border-right: none;
  text-align: center; /* 버튼 텍스트를 중앙에 정렬 */
  color: #ffffff;
}

.tab-button:last-child {
  border-right: 1px solid #9DC3C1; /* 마지막 버튼에 오른쪽 테두리 추가 */
}

.tab-button.active {
  background-color: #444341; /* 활성화된 버튼의 색상 변경 */
}

.tabs-content-container {
  width: 100%; /* 컨테이너 너비에 맞춤 */
}

.tab-content {
  border: 1px solid #272625;
  border-top: none; /* 상단 테두리 제거 */
  width: 100%; /* 부모 컨테이너에 맞춤 */
  padding: 20px; /* 내용 주변의 패딩 */
  color: #ffffff;
  min-height: 150px; /* 최소 높이 설정으로 흔들림 방지 */
  background-color: #272625; /* 내용의 배경색 */
}
